{% extends "base.html" %}
{% load static %}
{% load music_tags %}

{% block body %}

<section class="mt-8 px-5 md:px-0">
    {% for music in musics %}
    <div class="card rounded w-full md:w-2/4 mx-auto bg-white shadow mb-8">
        <div class="relative">
            <img id="coverImage" class="rounded" src="{{ music.cover_image.url }}" alt="{{ music.title }}">
            <div class="absolute left-0 bottom-0 w-full text-white bg-black bg-opacity-60 p-4 font-bold">
                <h4 id="artist" class="text-lg">{{ music.artist }}</h4>
                <h6 id="album" class="text-md">{{ music.album }}</h6>
            </div>
        </div>
        <div class="duration flex justify-between px-2">
            <div id="currentDuration" class="">00:00</div>
            <div id="duration" class="">{{ music.time_length|length_formatter }}</div>
        </div>
        <div class="player-btn flex justify-center space-x-2 py-4">
            <i id="prev" class="text-gray-500 cursor-pointer hover:text-green-500 fas fa-backward text-xl"></i>
            <i id="play" class="text-gray-500 cursor-pointer hover:text-green-500 fas fa-play text-xl"></i>
            <i id="pause" class="text-gray-500 cursor-pointer hover:text-green-500 fas fa-pause text-xl"></i>
            <i id="next" class="text-gray-500 cursor-pointer hover:text-green-500 fas fa-forward text-xl"></i>
            <audio id="audioPlayer" class="w-full bg-green-300 text-white" src="{{ music.audio_file.url }}" preload="metadata" autoplay="false">
            </audio>
        </div>
        <div class=" border-t py-2 border-gray-200 px-2 text-lg flex justify-between hover:bg-gray-200">
            <div class="flex space-x-2 items-center">
                <i class="text-gray-500 text-2xl hover:text-green-500 fas fa-play-circle"></i> <span id="musicTitle" class="text-gray-800 font-bold">{{ music.title|title }}</span>
            </div>
            <div class="">
                <span class="text-sm text-gray-500 mr-2">{{ music.time_length|length_formatter }}</span>
                <i class="text-gray-500 hover:text-green-500 fas fa-download"></i>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{{ music_list|json_script:'musics' }}

{% endblock body %}

{% block scripts %}
<script src="{% static 'js/music.js' %}"></script>
{% endblock scripts %}